<html>
	<head>
		<meta charset="UTF-8">
		<title> Index</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					
	</head>
	<body></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">RESULT</h1>
                <br><br>
                <div class="msgfinal">{{ msg }}</div>
                <br><br><br><br>
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
				<p class="bottom"><a class="bottom" href="{{url_for('index')}}">Back</a></p>
		</div>
		</div>
	</body>
</html>
